html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color: #A2BD62;

}

.wrap {
    min-height: 100%;
    min-width: 100%;
}

.main-content {
    overflow:auto;
    padding-bottom:80px;
}

.footer {
    clear:both;
    width: 100%;
    height:80px;
    margin-top:-80px;
    position: relative;
    background-color:rgba(0,0,0,.99);
    box-shadow: 0px -6px 2px rgba(0,0,0,0.4); -moz-box-shadow: 0px -6px 2px rgba(0,0,0,0.4); -webkit-box-shadow: 0px -6px 2px rgba(0,0,0,0.4);
}

.footer a:link {text-decoration:none;color:white;}
.footer a:visited {text-decoration:none;color:white;}
.footer a:hover {text-decoration:none;color:red;}
.footer a:active {text-decoration:none;color:white;}

.header {
    background-color: rgba(0,0,0,.99);
    border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px;
    height: 44px;
    width: 100%;
    margin:0;
    box-shadow: 0px 5px 2px rgba(0,0,0,0.4); -moz-box-shadow: 0px 5px 2px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 5px 2px rgba(0,0,0,0.4);
}

.header a:link {text-decoration:none;color:white;}
.header a:visited {text-decoration:none;color:white;}
.header a:hover {text-decoration:none;color:red;}
.header a:active {text-decoration:none;color:white;}

.sub-nav {
    height: 35px;
    width: 100%;
    position:relative;
    color:black;
    font-size:1em;
    font-family:"helvetica",sans-serif;
    white-space:pre;
    text-align: center;

}

.sub-nav a:link {text-decoration:none;color:black;}
.sub-nav a:visited {text-decoration:none;color:black;}
.sub-nav a:hover {text-decoration:none;color:red;}
.sub-nav a:active {text-decoration:none;color:black;}

h1 {
    font-size:1.25em;
    font-family:"helvetica",sans-serif;
}

p {
    font-size:.9em;
    font-family:"helvetica",sans-serif;
}

.logo {
    padding-left:10px;
    padding-top: 2px;
}

.logout {
    color:white;
    font-family:"helvetica",sans-serif;
    padding-right:10px;
    padding-top: 12px;
    font-size:1em;
    font-weight: bold;
    position:absolute;
    top:0;
    right:0;
}

.compose {
    color:white;
    font-family:"helvetica",sans-serif;
    padding-right:10px;
    padding-top: 12px;
    font-size:1em;
    font-weight: bold;
    position:absolute;
    top:0;
    right:100;
}

.button {
    font-size:1.25em;
    font-family:"helvetica",sans-serif;
    background-color:#6495ed;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
    left: 50px;
    color:#ffffff;
    border-color: #000000;
}

.login_button {
    font-size:1.15em;
    font-family:"helvetica",sans-serif;
    background-color:#6495ed;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
    left: 50px;
    color:#ffffff;
    border-color: #000000;
}

.button:hover {
    background-color:#1e90ff;
    color:#ffffff;
    border-color: #000000;
}

.login_button:hover {
    background-color:#1e90ff;
    color:#ffffff;
    border-color: #000000;
}
.username {
    position:absolute;
    top:48;
    right:10;
    width:175px;
    text-align: right;
    font-weight: bold;
    font-family:"helvetica",sans-serif;
    font-size:.95em;
}

.flashMsg {
    position:absolute;
    top:36;
    right:100;
    width:250px;
    text-align: right;
    color: red;
    font-family:"helvetica",sans-serif;
    font-size:.95em;
}

.text {
    font-family:"helvetica",sans-serif;
    font-size:.9em;
}

.chrome-optimized{
    color:white;
    font-family:"helvetica",sans-serif;
    font-size:0.9em;
    position: absolute;
    text-align: left;
    bottom: 5px;
    left:5px;
    min-width:33%;
}

.support{
    color:white;
    font-family:"helvetica",sans-serif;
    font-size:0.9em;
    position: relative;
    top: 45px;
    text-align: center;
    min-width:33%;

}

.copyright {
    color:white;
    font-family:"helvetica",sans-serif;
    font-size:0.9em;
    position: absolute;
    text-align: right;
    bottom: 5px;
    right:5px;
    min-width:33%;
}

.content {
    width:800px;
    display: block;
    min-width: 800px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.content a:link {text-decoration:none;color:blue;}
.content a:visited {text-decoration:none;color:blue;}
.content a:hover {text-decoration:none;color:red;}
.content a:active {text-decoration:none;color:blue;}

.messages-window {
    margin-left: auto;
    margin-right: auto;
    width:710px;
    min-height: 200px;
    padding:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    font-family:"helvetica",sans-serif;
    font-size:.95em;
}


.message-detail {
    position:relative;
    border-color:#808080;
    border-width:thin;
    border-bottom-style: solid;
    height:45px;
}

.login_form{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width:500px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
}

.button_login_form {
    position: absolute;
    left:145px;
    font-size:1.15em;
    font-family:"helvetica",sans-serif;
    background-color:#6495ed;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
    color:#ffffff;
    border-color: #000000;
}

.button_login_form:hover {
    background-color:#1e90ff;
    color:#ffffff;
    border-color: #000000;
}

.title {

    width:500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #808080;
    border-width:thin;
    border-bottom-style: solid;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width:500px;
    padding-left:5px;
    padding-right:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
}

.button_signup_form {
    position: absolute;
    left:145px;
    font-size:1.15em;
    font-family:"helvetica",sans-serif;
    background-color:#6495ed;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
    color:#ffffff;
    border-color: #000000;
}

.button_signup_form:hover {
    background-color:#1e90ff;
    color:#ffffff;
    border-color: #000000;
}

.password_resent {
    width:600px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left:5px;
    padding-right:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;

}

.error {
    font-family:"helvetica",sans-serif;
    color:red;
    text-align: left;
    padding-left:10px;
    font-size:.75em;
    font-weight: bold;
}

.form-container {
    position:relative;
}

.home_title {

    width:710px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #808080;
    border-width:thin;
    border-bottom-style: solid;
}

.message_form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.profile-window {
    margin-left: auto;
    margin-right: auto;
    width:710px;
    min-height: 300px;
    padding:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    font-family:"helvetica",sans-serif;
    font-size:.95em;
}

.map_window {
    margin-left: auto;
    margin-right: auto;
    width:600px;
    padding:10px;
}

.review_window {
    margin-left: auto;
    margin-right: auto;
    width:600px;
    padding:10px;
}

.new_message_form{

    width: 500px;
    padding-left:5px;
    padding-right:5px;
    background-color:#ffffff;
    border-style:solid;
    border-width:thin;
    border-color:black;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.message_textarea{
     margin-left: auto;
     margin-right: auto;
     width:475px;
 }

.search_textbox{
    margin-left: auto;
    margin-right: auto;
    width:400px;
}

.search-detail {
    position:relative;
    border-color:#808080;
    border-width:thin;
    border-bottom-style: solid;
    font-family:"helvetica",sans-serif;
    font-size:.8em;
    padding-bottom: 5;
    padding-top: 5;
    padding-left: 10;
    height:95px;
}

.search_result_box {
    background-color:#ffffff;
    border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    min-height: 100px;
    width: 700px;
    border-style:solid;
    border-width:thin;
    border-color:black;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}

.connect-detail {
    position:relative;
    border-color:#808080;
    border-width:thin;
    border-bottom-style: solid;
    height:65px;
}

.button_review_form {
    position: absolute;
    left:39px;
    top:295px;
    font-size:1.15em;
    font-family:"helvetica",sans-serif;
    background-color:#6495ed;
    border:1px solid;
    border-radius: 5px 5px 5px 5px;
    color:#ffffff;
    border-color: #000000;
}

.button_review_form:hover {
    background-color:#1e90ff;
    color:#ffffff;
    border-color: #000000;
}

.search_title {

    width:700px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #808080;
    border-width:thin;
    border-bottom-style: solid;
}
